/* h1 {
  color: green;
  font-style: italic;
}

li {
  color: grey;
  padding-top: 3px;
  font-size: 15px;
}

.note {
  color: grey;
  padding-top: 5px;
  font-size: 15px;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
} */
.importance {
  cursor: pointer;
}

.importance:hover {
  color: green;
}
/* .note-content:hover {
  text-decoration-line: line-through;
}
.note-content {
  text-decoration-line: line-through;
}
.note-content {
  cursor: pointer;
} */
.container {
  gap: 10px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header h1 {
  padding: 0;
  margin: 0;
}
.header div {
  display: flex;
  gap: 10px;
}

.header div p {
  margin: auto;
}
.header .links .brainboard-link {
  text-decoration: none;
}
.header .links {
  display: flex;
  gap: 10px;
  align-items: center;
}
.header {
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* align-items: center; */
}

.login-form {
  display: flex;
  flex-direction: column;
}
.toolbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.note-form {
  display: flex;
  flex-direction: row;
  gap: 10px;
  min-width: 325px;
  width: 100%;
}
.note-form input {
  flex: 1;
}

@media (min-width: 768px) {
  .note-form {
    display: flex;
    gap: 10px;
    min-width: 400px;
    width: 100%;
  }

  .note-form input {
    flex: 1;
  }
  .toolbar {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}
@media (min-width: 1200px) {
  .header {
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .login-form {
    flex-direction: row;
    gap: 10px;
  }
  .toolbar {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}
